:8080
root ./app/
gzip
log / ./app/logs/caddyaccess.log "{remote} - {user} [{when}] \"{method} {uri} -> {rewrite_path} {proto}\" {status} {size}" {
	rotate_size 50  # Rotate after 50 MB
	rotate_age  90  # Keep rotated files for 90 days
	rotate_keep 20  # Keep at most 20 log files
	rotate_compress # Compress rotated log files in gzip format
}
errors ./app/logs/caddyerrors.log {
	rotate_size 50 
	rotate_age  90 
	rotate_keep 20
	rotate_compress 
}

# Following rewrite blocks does an internal
# URL rewrite for all resources (NOT PHP FILES) to ./app/assets folder
rewrite / {
	regexp /.*\..+
    ext    !.php
    to     /assets/{path}
}

# Rewrite all requests for anything else to root
rewrite / {
	to     /
}

fastcgi / /var/run/php/php7.0-fpm.sock {
    ext .php
    split .php
    index index.php
    connect_timeout "120s"
}




